// Global
$body-font-family: 'Lato', sans-serif;

$white: #FFFFFF;
$gray-dark: #3c3e50;
$gray-dark-1: #757575;
$base-font-color: $gray-dark;

$material-dark: (
  'background': #2f3e4e,
  'cards': #586473,
  'text': (
    'secondary': #FFF,
  )
);

$btn-text-transform: none;
